
app-users-login {
    .users-login {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
    }

    .users-login-form {
        display: flex;
        flex-direction: column;
        padding: 16px;
    }

    .logo-container {
        display: flex;
        justify-content: center;
    }

    .logo {
        height: 10rem;
        width: 10rem;
    }
}