<!-- <mat-toolbar color="warn">
    <button *ngIf="isMobile" mat-icon-button (click)="snav.toggle()">
        <mat-icon class="hamburger-top">menu</mat-icon>
    </button>
    VouchMe
</mat-toolbar> -->

<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #drawer mode="true" fixedInViewport="true" role="navigation">
        <div class="avatar-container body-padding">
            <div class="image">
                <img class="avatar" src="/assets/images/site/default-user.png" alt="User" />
            </div>
            <div class="user-info column">
            <span class="user-name">Alex Amistad</span>
            <div class="vouch-details row">
                <div class="column">
                    <span class="mat-caption">Vouches</span>
                    <span class="mat-body-2 vouch-score">871</span>
                </div>
                <div class="column">
                    <span class="mat-caption">Infames</span>
                    <span class="mat-body-2 infame-score">76</span>
                </div>
                <div class="column">
                    <span class="mat-caption">Transactions</span>
                    <span class="mat-body-2">1,452</span>
                </div>
            </div>
            </div>
        </div>

        <div class="side-menu">
            <mat-nav-list>
                <a mat-list-item (click)="navigate('/users/dashboard')">Dashboard</a>
                <a mat-list-item (click)="navigate('/users/settings')">Settings</a>
                <a mat-list-item (click)="navigate('/')">Logout</a>
            </mat-nav-list>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>